<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="SimpleAccount.Properties.Settings.MyG_AdminConnectionString" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=MyG_Admin;User ID=sa;Password=abc" providerName="System.Data.SqlClient" />
    <add name="MyG_AdminEntities" connectionString="metadata=res://*/Maps.MyG_Admin.csdl|res://*/Maps.MyG_Admin.ssdl|res://*/Maps.MyG_Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS;initial catalog=MyG_Admin;user id=sa;password=abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SimpleAccountEntities" connectionString="metadata=res://*/Maps.SimpleAccount.csdl|res://*/Maps.SimpleAccount.ssdl|res://*/Maps.SimpleAccount.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS;initial catalog=SimpleAccount;user id=sa;password=abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>